name: Build LaTeX PDF

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: make install-dependencies

      - name: Build full PDF
        run: make full

      - name: Build finals PDF
        run: make finals
